body
  >header
    width 100%
    color color-black
    >div.main-photo
      width 100%
      height 800px
      margin-top 10px
      -webkit-filter blur(10px)
      filter blur(10px)
      position relative
      overflow hidden
      background url('http://gdp.alicdn.com/imgextra/i4/109859684/TB2xhArmVXXXXaQXpXXXXXXXXXX_!!109859684.jpg')
      @media tablet
        width 100%
    a
      display block
      color color-black

div.main-text
  width 500px
  height 100px
  line-height 100px
  position absolute
  right 0px
  bottom -300px
  background-color #fff

.higher-text
  float left
  width 75%
  margin-left 0.5em
  font-family font-custom-family
  font-size font-size+100
  line-height line-height

.high-text
  float left
  width 75%
  margin-left 0.5em
  font-family font-custom-family
  font-size font-size+100
  line-height line-height

.navbar
  position absolute
  width 2em
  right 0em
  top 1em
  padding 0.5em
  @media tablet
    display none

.navbutton::before
  font-family font-icon-family
  font-smoothing()
  content "\f0c9"

.navmobile::before
  padding-left 1em

#page-name
  height 120px
  line-height 120px
  color #000
  text-align center
  font-size 32px

header nav
  width 950px
  height 150px;
  margin 0 auto
  color #000
  @media phone
    width 50%
  @media tablet
    width 950px
    margin-top 1em
    max-height none
  font-size font-size+12.5
  padding-bottom 0.5em
  transition max-height 1s ease-out
  ul
    position relative
    height 40px
    line-height 40px
    border-bottom 1px solid #000
  ul li
    font-size 14px
    color #000
    @media tablet
      float left
  ul li.icon
    width 40px
    height 40px
    background-size 40px 40px
    background-image url('../../img/icon-蝴蝶结.png')
  ul li a
    padding 0.2em 0 0.2em 1em
    color: #000
    @media tablet
      padding 0.2em 1.5em
    &:hover
      color #000
  ul li.search-tab
    float right
    color #000
    position relative
  ul li.search-tab img
    position absolute
    width 20px
    height 20px
    top 12px
    left -10px

.shownav
  max-height 40em

.search
  padding 0.1em 0 0 1em
  input
    -webkit-appearance textfield
    font-size 0.87em
    line-height line-height+0.2
    border 1px solid color-black
    color color-black
    width 80%
    padding-left 0.5em
    @media tablet
      width 8em
      transition .5s width
      &:focus
        width 15em
  label
    display none
